In [1]:
import numpy as np
import pandas as pd

In [2]:
race=pd.read_csv('F1_Race_Results.csv',sep=',')
race

,Grand Prix,Date,Winner,Car,Laps,Time
0,Great Britain,13 May 1950,Nino Farina FAR,Alfa Romeo,70.0,2:13:23.600
1,Monaco,21 May 1950,Juan Manuel Fangio FAN,Alfa Romeo,100.0,3:13:18.700
2,Indianapolis 500,30 May 1950,Johnnie Parsons PAR,Kurtis Kraft Offenhauser,138.0,2:46:55.970
3,Switzerland,04 Jun 1950,Nino Farina FAR,Alfa Romeo,42.0,2:02:53.700
4,Belgium,18 Jun 1950,Juan Manuel Fangio FAN,Alfa Romeo,35.0,2:47:26.000
...,...,...,...,...,...,...
1055,Mexico,07 Nov 2021,Max Verstappen VER,Red Bull Racing Honda,71.0,1:38:39.086
1056,Brazil,14 Nov 2021,Lewis Hamilton HAM,Mercedes,71.0,1:32:22.851
1057,Qatar,21 Nov 2021,Lewis Hamilton HAM,Mercedes,57.0,1:24:28.471
1058,Saudi Arabia,05 Dec 2021,Lewis Hamilton HAM,Mercedes,50.0,2:06:15.118
1059,Abu Dhabi,12 Dec 2021,Max Verstappen VER,Red Bull Racing Honda,58.0,1:30:17.345

In [3]:
race['Date']=pd.to_datetime(race['Date'],format='mixed')
race['Year']=race['Date'].dt.year
race.Year

0       1950
1       1950
2       1950
3       1950
4       1950
        ...
1055    2021
1056    2021
1057    2021
1058    2021
1059    2021
Name: Year, Length: 1060, dtype: int32

In [4]:
race.columns

Index(['Grand Prix', 'Date', 'Winner', 'Car', 'Laps', 'Time', 'Year'], dtype='object')

### 1.1 Most Successful Drivers by wins

In [5]:
race['Winner'].value_counts()

Winner
Lewis Hamilton HAM        103
Michael Schumacher MSC     91
Sebastian Vettel VET       53
Alain Prost PRO            51
Ayrton Senna SEN           41
                         ...
Heikki Kovalainen KOV       1
Pastor Maldonado MAL        1
Max Verstappen VES          1
Pierre Gasly GAS            1
Esteban Ocon OCO            1
Name: count, Length: 113, dtype: int64

### 1.2 Finding most successful car with most time winner(in this case Lewis Hamilton)

In [6]:
most_driver_wins=race[race['Winner'] == 'Lewis Hamilton HAM']
most_driver_wins

,Grand Prix,Date,Winner,Car,Laps,Time,Year
776,Canada,2007-06-10,Lewis Hamilton HAM,McLaren Mercedes,70.0,1:44:11.292,2007
777,United States,2007-06-17,Lewis Hamilton HAM,McLaren Mercedes,73.0,1:31:09.965,2007
781,Hungary,2007-08-05,Lewis Hamilton HAM,McLaren Mercedes,70.0,1:35:52.991,2007
785,Japan,2007-09-30,Lewis Hamilton HAM,McLaren Mercedes,67.0,2:00:34.579,2007
788,Australia,2008-03-16,Lewis Hamilton HAM,McLaren Mercedes,58.0,1:34:50.616,2008
...,...,...,...,...,...,...,...
1047,Great Britain,2021-07-18,Lewis Hamilton HAM,Mercedes,52.0,1:58:23.284,2021
1052,Russia,2021-09-26,Lewis Hamilton HAM,Mercedes,53.0,1:30:41.001,2021
1056,Brazil,2021-11-14,Lewis Hamilton HAM,Mercedes,71.0,1:32:22.851,2021
1057,Qatar,2021-11-21,Lewis Hamilton HAM,Mercedes,57.0,1:24:28.471,2021
1058,Saudi Arabia,2021-12-05,Lewis Hamilton HAM,Mercedes,50.0,2:06:15.118,2021

In [7]:
car_wins=most_driver_wins['Car'].value_counts()
print(car_wins)

Car
Mercedes            82
McLaren Mercedes    21
Name: count, dtype: int64

### 1.2 Best Car(By Wins)

In [8]:
race['Car'].value_counts()

Car
Ferrari                      239
Mercedes                     115
McLaren Mercedes              79
Williams Renault              64
Lotus Ford                    47
                            ...
Stewart Ford                   1
STR Ferrari                    1
AlphaTauri Honda               1
Racing Point BWT Mercedes      1
Alpine Renault                 1
Name: count, Length: 61, dtype: int64

### 1.3 Most Dominant periods

In [9]:
dominance=race.groupby('Year')['Winner'].value_counts().sort_values(ascending=False)
dominance

Year  Winner
2013  Sebastian Vettel VET      13
2004  Michael Schumacher MSC    13
2002  Michael Schumacher MSC    11
2014  Lewis Hamilton HAM        11
2018  Lewis Hamilton HAM        11
                                ..
2017  Daniel Ricciardo RIC       1
2021  Daniel Ricciardo RIC       1
      Esteban Ocon OCO           1
      Sergio Perez PER           1
      Valtteri Bottas BOT        1
Name: count, Length: 388, dtype: int64

In [10]:
# Conversion to DataFrame
domination = dominance.reset_index()
domination.columns = ['Year', 'Winner', 'Times']
domination

     Year                  Winner  Times
0    2013    Sebastian Vettel VET     13
1    2004  Michael Schumacher MSC     13
2    2002  Michael Schumacher MSC     11
3    2014      Lewis Hamilton HAM     11
4    2018      Lewis Hamilton HAM     11
..    ...                     ...    ...
383  2017    Daniel Ricciardo RIC      1
384  2021    Daniel Ricciardo RIC      1
385  2021        Esteban Ocon OCO      1
386  2021        Sergio Perez PER      1
387  2021     Valtteri Bottas BOT      1

[388 rows x 3 columns]

In [11]:
domination[domination['Times']>10]

   Year                  Winner  Times
0  2013    Sebastian Vettel VET     13
1  2004  Michael Schumacher MSC     13
2  2002  Michael Schumacher MSC     11
3  2014      Lewis Hamilton HAM     11
4  2018      Lewis Hamilton HAM     11
5  2011    Sebastian Vettel VET     11
6  2019      Lewis Hamilton HAM     11
7  2020      Lewis Hamilton HAM     11

### 1.4. Identify eras: Ferrari era, Red Bull era, Mercedes era

In [12]:
dominance_car=race.groupby(['Year','Car'])['Winner'].value_counts().sort_values(ascending=False)
dominance_car

Year  Car                       Winner
2013  Red Bull Racing Renault   Sebastian Vettel VET         13
2004  Ferrari                   Michael Schumacher MSC       13
2011  Red Bull Racing Renault   Sebastian Vettel VET         11
2014  Mercedes                  Lewis Hamilton HAM           11
2020  Mercedes                  Lewis Hamilton HAM           11
                                                             ..
1952  Kuzma Offenhauser         Troy Ruttman RUT              1
      Ferrari                   Piero  Taruffi TAR            1
2021  Red Bull Racing Honda     Sergio Perez PER              1
1951  Kurtis Kraft Offenhauser  Lee Wallard WAL               1
      Ferrari                   Jose Froilan Gonzalez GON     1
Name: count, Length: 391, dtype: int64

In [13]:
# Conversion to DataFrame
domination_car = dominance_car.reset_index()
domination_car.columns = ['Year', 'Car', 'Winner', 'Times']
domination_car

     Year                       Car                     Winner  Times
0    2013   Red Bull Racing Renault       Sebastian Vettel VET     13
1    2004                   Ferrari     Michael Schumacher MSC     13
2    2011   Red Bull Racing Renault       Sebastian Vettel VET     11
3    2014                  Mercedes         Lewis Hamilton HAM     11
4    2020                  Mercedes         Lewis Hamilton HAM     11
..    ...                       ...                        ...    ...
386  1952         Kuzma Offenhauser           Troy Ruttman RUT      1
387  1952                   Ferrari         Piero  Taruffi TAR      1
388  2021     Red Bull Racing Honda           Sergio Perez PER      1
389  1951  Kurtis Kraft Offenhauser            Lee Wallard WAL      1
390  1951                   Ferrari  Jose Froilan Gonzalez GON      1

[391 rows x 4 columns]

### 2.1 Grand Prix where a single constructor wins repeatedly

In [14]:
race['Grand Prix'].value_counts()

Grand Prix
Great Britain       73
Italy               72
Monaco              67
Belgium             66
Germany             64
France              62
Spain               51
Canada              50
Brazil              48
United States       37
Hungary             36
Japan               35
Australia           35
Austria             34
Netherlands         31
San Marino          26
South Africa        23
Europe              23
Mexico              21
Argentina           21
Malaysia            19
Portugal            18
Bahrain             17
China               16
Abu Dhabi           13
Singapore           12
Indianapolis 500    11
Turkey               9
USA West             8
Russia               8
Detroit              7
Switzerland          6
Sweden               6
USA East             5
South Korea          4
Azerbaijan           4
India                3
Emilia Romagna       2
Pacific              2
Styria               2
Las Vegas            2
Luxembourg           2
Morocco              1
Pescara              1
Dallas               1
Tuscany              1
70th Anniversary     1
Eifel                1
Sakhir               1
Qatar                1
Saudi Arabia         1
Name: count, dtype: int64

In [15]:
dominance_car_gp=race.groupby(['Car','Grand Prix'])['Winner'].value_counts().sort_values(ascending=False)
dominance_car_gp

Car               Grand Prix     Winner
Mercedes          Great Britain  Lewis Hamilton HAM        7
Ferrari           Canada         Michael Schumacher MSC    6
                  San Marino     Michael Schumacher MSC    6
                  France         Michael Schumacher MSC    6
Mercedes          Spain          Lewis Hamilton HAM        6
                                                          ..
Williams Renault  Spain          Jacques Villeneuve VIL    1
                                 Pastor Maldonado MAL      1
Wolf Ford         Argentina      Jody Scheckter SCH        1
                  Canada         Jody Scheckter SCH        1
Williams Renault  Portugal       Riccardo Patrese PAT      1
Name: count, Length: 809, dtype: int64

In [16]:
# Conversion to DataFrame
domination_car_gp = dominance_car_gp.reset_index()
domination_car_gp.columns = ['Car', 'Grand Prix', 'Winner', 'Times']
domination_car_gp[domination_car_gp['Times']>5]

        Car     Grand Prix                  Winner  Times
0  Mercedes  Great Britain      Lewis Hamilton HAM      7
1   Ferrari         Canada  Michael Schumacher MSC      6
2   Ferrari     San Marino  Michael Schumacher MSC      6
3   Ferrari         France  Michael Schumacher MSC      6
4  Mercedes          Spain      Lewis Hamilton HAM      6

In [25]:
race['Time'] = race['Time'].apply(
    lambda x: 0 if pd.isna(x) else
    sum(int(v) * m for v, m in zip(str(x).replace('.', ':').split(':'), [3600000, 60000, 1000, 1]))
)

In [29]:
race

,Grand Prix,Date,Winner,Car,Laps,Time,Year
0,Great Britain,1950-05-13,Nino Farina FAR,Alfa Romeo,70.0,8003600,1950
1,Monaco,1950-05-21,Juan Manuel Fangio FAN,Alfa Romeo,100.0,11598700,1950
2,Indianapolis 500,1950-05-30,Johnnie Parsons PAR,Kurtis Kraft Offenhauser,138.0,10015970,1950
3,Switzerland,1950-06-04,Nino Farina FAR,Alfa Romeo,42.0,7373700,1950
4,Belgium,1950-06-18,Juan Manuel Fangio FAN,Alfa Romeo,35.0,10046000,1950
...,...,...,...,...,...,...,...
1055,Mexico,2021-11-07,Max Verstappen VER,Red Bull Racing Honda,71.0,5919086,2021
1056,Brazil,2021-11-14,Lewis Hamilton HAM,Mercedes,71.0,5542851,2021
1057,Qatar,2021-11-21,Lewis Hamilton HAM,Mercedes,57.0,5068471,2021
1058,Saudi Arabia,2021-12-05,Lewis Hamilton HAM,Mercedes,50.0,7575118,2021
1059,Abu Dhabi,2021-12-12,Max Verstappen VER,Red Bull Racing Honda,58.0,5417345,2021

In [40]:
race['SR']=(race['Time']/race['Laps'])
race['SR']

0       114337.142857
1       115987.000000
2        72579.492754
3       175564.285714
4       287028.571429
            ...
1055     83367.408451
1056     78068.323944
1057     88920.543860
1058    151502.360000
1059     93402.500000
Name: SR, Length: 1060, dtype: float64

In [44]:
high_speed=race[race['Laps']>50].sort_values(by='SR',ascending=False).head(10)
high_speed

,Grand Prix,Date,Winner,Car,Laps,Time,Year,SR
848,Canada,2011-06-12,Jenson Button BUT,McLaren Mercedes,70.0,14679537,2011,209707.671429
1035,Bahrain,2020-11-29,Lewis Hamilton HAM,Mercedes,57.0,10787515,2020,189254.649123
839,South Korea,2010-10-24,Fernando Alonso ALO,Ferrari,55.0,10100810,2010,183651.090909
862,Malaysia,2012-03-25,Fernando Alonso ALO,Ferrari,56.0,9891812,2012,176639.500000
16,Switzerland,1952-05-18,Piero Taruffi TAR,Ferrari,62.0,10906100,1952,175904.838710
908,Great Britain,2014-07-06,Lewis Hamilton HAM,Mercedes,52.0,8812094,2014,169463.346154
31,Switzerland,1953-08-23,Alberto Ascari ASC,Ferrari,65.0,10894400,1953,167606.153846
5,France,1950-07-02,Juan Manuel Fangio FAN,Alfa Romeo,64.0,10672800,1950,166762.500000
28,France,1953-07-05,Mike Hawthorn HAW,Ferrari,60.0,9858600,1953,164310.000000
39,Switzerland,1954-08-22,Juan Manuel Fangio FAN,Mercedes-Benz,66.0,10834500,1954,164159.090909

In [59]:
speedy_laps=race.groupby(['Winner','Laps','Time','Grand Prix'])['SR'].value_counts().sort_values(ascending=False)
speedy_laps

Winner                  Laps  Time     Grand Prix     SR
Wolfgang von Trips VON  75.0  9653600  Great Britain  128714.666667    1
Tony Brooks BRO         50.0  7286500  France         145730.000000    1
                        24.0  5826300  Belgium        242762.500000    1
                        15.0  8475000  Germany        565000.000000    1
Thierry Boutsen BOU     77.0  6570597  Hungary        85332.428571     1
                                                                      ..
Alain Prost PRO         51.0  4679451  Italy          91753.941176     1
                        45.0  4720885  Germany        104908.555556    1
                        44.0  5083210  Germany        115527.500000    1
                        43.0  5223217  Belgium        121470.162791    1
                        40.0  5231502  Belgium        130787.550000    1
Name: count, Length: 1057, dtype: int64

In [60]:
# Conversion to DataFrame
speedy_laps = speedy_laps.reset_index()
speedy_laps.columns = ['Winner', 'Laps', 'Time_Total', 'Grand Prix', 'SR', 'Times']
speedy_laps[speedy_laps['Laps']>60]

,Winner,Laps,Time_Total,Grand Prix,SR,Times
0,Wolfgang von Trips VON,75.0,9653600,Great Britain,128714.666667,1
4,Thierry Boutsen BOU,77.0,6570597,Hungary,85332.428571,1
5,Thierry Boutsen BOU,70.0,7217421,Australia,103106.014286,1
6,Thierry Boutsen BOU,69.0,7284073,Canada,105566.275362,1
7,Stirling Moss MOS,100.0,10832900,Monaco,108329.000000,1
...,...,...,...,...,...,...
1028,Valtteri Bottas BOT,71.0,5455739,Austria,76841.394366,1
1035,Valtteri Bottas BOT,71.0,4908523,Austria,69134.126761,1
1038,Troy Ruttman RUT,200.0,13961880,Indianapolis 500,69809.400000,1
1039,Tony Brooks BRO,70.0,7427800,Italy,106111.428571,1
1041,Alain Prost PRO,61.0,5600413,San Marino,91810.049180,1